 body{
   background-color: #FAE196;
 }
 .Image-Container{
   height: 100%;
   width: 100%;
 }
 .Image-Container img{
   max-height: 100%;
   max-width: 100%;
 }
 .logo-container{
  height: 100%;
  width: 100%;
 }
 .header-logo{
   position: absolute;
   margin-top: -500px;
   margin-left: 100px;
 }
 .header-logo img{
  max-height: 100%;
  max-width: 100%;
 }
 hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}